# vim #
*.sw*

# python #
*.pyc

# Newsbeuter DB #
cache.db
history.cmdline
history.search

# python #
*.pyc

# misc #
*.lock
*.core
*.log
*.o

# Ignore Pragmata Pro font because its not free #
Pragmata*

# Ignore misc binaries
dwm/dwm
st/st
