# vim #
*.sw*

# python #
*.pyc

# Newsbeuter DB #
cache.db
history.cmdline
history.search

# python #
*.pyc

# misc #
*.lock
*.core
*.log
*.o
st

# Ignore Pragmata Pro font because its not free #
Pragmata*
