xterm*internalBorder:        0
xterm*loginShell:         true
xterm*scrollBar:         false
xterm*cursorBlink:       false
xterm*saveLines:         65535
xterm*dynamicColors:        on
xterm*highlightSelection: true
! Appearance
xterm*utf8:                 1
xterm*eightBitInput: false
xterm*faceName:     Powerline\ Consolas
xterm*faceSize:     9
xterm*boldMode:     false
xterm*allowBoldFonts:   true
xterm.letterSpace: -3
xterm*cursorColor: #DCDCCC

! tangoesque scheme
xterm*background:  #262626
xterm*foreground:  #aaaaaa
! ! Black
xterm*color0:      #000000
xterm*color8:      #555753
! ! Red
xterm*color1:      #ff6565
xterm*color9:      #ff8d8d
! ! Green
xterm*color2:      #93d44f
xterm*color10:     #c8e7a8
! ! Yellow
xterm*color3:      #eab93d
xterm*color11:     #ffc123
! ! Blue
xterm*color4:      #204a87
xterm*color12:     #3465a4
! ! Mangenta
xterm*color5:      #ce5c00
xterm*color13:     #f57900
! ! Cyan 
xterm*color6:      #89b6e2
xterm*color14:     #46a4ff
! White
xterm*color7:      #cccccc
xterm*color15:     #ffffff
 
! Solarized color scheme for the X Window System
! !
! ! http://ethanschoonover.com/solarized
!
!
! ! Common
!
!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900

!#define S_base03        #262626
!#define S_base02        #262626
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3

!xterm*background:              S_base03
!xterm*foreground:              S_base0
!*fading:                  40
!*fadeColor:               S_base03
!*cursorColor:             S_base1
!*pointerColorBackground:  S_base01
!*pointerColorForeground:  S_base1

!xterm*color0:                  S_base02
!xterm*color1:                  S_red
!xterm*color2:                  S_green
!xterm*color3:                  S_yellow
!xterm*color4:                  S_blue
!xterm*color5:                  S_magenta
!xterm*color6:                  S_cyan
!xterm*color7:                  S_base2
!xterm*color9:                  S_orange
!xterm*color8:                  S_base03
!xterm*color10:                 S_base01
!xterm*color11:                 S_base00
!xterm*color12:                 S_base0
!xterm*color13:                 S_violet
!xterm*color14:                 S_base1
!xterm*color15:                 S_base3


Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

