URxvt*internalBorder:        0
URxvt*loginShell:         true
URxvt*scrollBar:         false
URxvt*cursorBlink:       false
URxvt*saveLines:         65535
URxvt*dynamicColors:        on
URxvt*highlightSelection: true
! Appearance
URxvt*utf8:                 1
URxvt*eightBitInput: false
urxvt*font:         xft:monaco:size=9
URxvt*boldMode:     false
URxvt*allowBoldFonts:   true
URxvt*cursorColor: #DCDCCC

! tangoesque scheme
URxvt*background:  #262626
URxvt*foreground:  #aaaaaa
! ! Black
URxvt*color0:      #000000
URxvt*color8:      #555753
! ! Red
URxvt*color1:      #ff6565
URxvt*color9:      #ff8d8d
! ! Green
URxvt*color2:      #93d44f
URxvt*color10:     #c8e7a8
! ! Yellow
URxvt*color3:      #eab93d
URxvt*color11:     #ffc123
! ! Blue
URxvt*color4:      #204a87
URxvt*color12:     #3465a4
! ! Mangenta
URxvt*color5:      #ce5c00
URxvt*color13:     #f57900
! ! Cyan 
URxvt*color6:      #89b6e2
URxvt*color14:     #46a4ff
! White
URxvt*color7:      #cccccc
URxvt*color15:     #ffffff
 
! Solarized color scheme for the X Window System
! !
! ! http://ethanschoonover.com/solarized
!
!
! ! Common
!
!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900

!#define S_base03        #262626
!#define S_base02        #262626
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3

!URxvt*background:              S_base03
!URxvt*foreground:              S_base0
!*fading:                  40
!*fadeColor:               S_base03
!*cursorColor:             S_base1
!*pointerColorBackground:  S_base01
!*pointerColorForeground:  S_base1

!URxvt*color0:                  S_base02
!URxvt*color1:                  S_red
!URxvt*color2:                  S_green
!URxvt*color3:                  S_yellow
!URxvt*color4:                  S_blue
!URxvt*color5:                  S_magenta
!URxvt*color6:                  S_cyan
!URxvt*color7:                  S_base2
!URxvt*color9:                  S_orange
!URxvt*color8:                  S_base03
!URxvt*color10:                 S_base01
!URxvt*color11:                 S_base00
!URxvt*color12:                 S_base0
!URxvt*color13:                 S_violet
!URxvt*color14:                 S_base1
!URxvt*color15:                 S_base3


Xft.dpi:        96

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
